/*

RESETS

*/
html, body {
    background: #F2F2F2;
}
body {
    padding: 20px 0;
}
.container img {
    display: block;
    position: relative;
    width: 100%;
    height: auto;
}
p.credits {
    font-size: 12px;
}
.btn.loading {
    color: transparent;
    position: relative;
}
.btn.loading:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: url(../img/loading.gif) no-repeat center center;
}
a.btn {
    border: 1px solid #333;
}
a.btn:hover {
    background: #333;
    color: #FFF;
    border-color: #000;
}

/*

HEADERS

*/
h1.logo {
    display: block;
    position: relative;
    width: 200px;
    height: 60px;
    text-indent: -999em;
    background: url(../img/logo.png) no-repeat;
    left: 50%;
    margin: 20px 0 5px -100px;
}

/*

CONTENT

*/
.container {
    background: #FFF;
    border: 1px solid #CCC;
    padding: 15px 30px;
    border-radius: 4px;
}
.container h2, 
.container h4 {
    display: block;
    text-align: center;
    font-size: 24px;
    padding-bottom: 10px;
    margin: 30px 0;
    color: #B22C00;
    border-bottom: 2px dotted #CCC;
}
.container h4 {
    text-align: left;
    font-size: 17px;
    margin: 15px 0;
    border-bottom: 1px dotted #CCC;
}
.container h2.byline {
    display: block;
    position: relative;
    text-align: center;
    padding: 0 20px 20px;
    font-size: 20px;
    font-weight: normal;
    color: #757575;
    border-bottom: none;
}
.container.section {
    text-align: center;
    background: transparent;
    border-color: transparent;
    padding: 20px 0;
}
.container.section p.credits {
    padding-top: 20px;
}

/*

MODALS

*/
.modal .modal-header {
    background-color: #EEE;
    border-bottom: 1px solid #CCC;
}
.modal .modal-body {
    padding-top: 20px;
}

/*

ALERTS

*/
.container .alert {
    display: block;
    position: relative;
    text-align: center;
}
input.verification-address {
    text-align: center;
    color: firebrick;
}

/*

LOG-IN / REGISTRATION FORM

*/
form.bs-auth {
    display: block;
    position: relative;
    padding: 30px 0;
}
form.bs-auth.row {
    margin: 0;
}
form.bs-auth .wrapper {
    padding: 3px;
}
form.bs-login input,
form.bs-login select {
    margin: 5px 0;
    background: #FFFFEE;
}

/*

SNIPPETS

*/
.container .sh_ide-eclipse .sh_sourceCode {
    background: #FFFFEE;
}
.container.section .sh_ide-eclipse .sh_sourceCode {
    background: #FFFFFF;
}
.sh_ide-eclipse .sh_sourceCode a.sh_url {
    color: #333;
}
.sh_ide-eclipse .sh_sourceCode a.sh_url:hover {
    background: #333;
    color: #FFF;
    border-color: #333;
}